body {
  height: 100%;
  width: 100%;
  box-sizing: border-box !important;
  background-color: #EEF1F2; }

.row {
  margin: 0 !important; }

.container-fluid {
  padding: 0 !important; }

.mainContainer {
  font-family: "Open Sans", sans-serif;
  height: 100%; }

.headerContainer {
  width: 100%;
  background-color: #FFF;
  padding: 15px 0 15px 0;
  height: 10%; }

.bodyContainer {
  padding: 15px 0 15px 0 !important;
  background-color: #EEF1F2;
  width: 100%; }

.nav-link {
  text-transform: uppercase; }

.nav-link:hover {
  background-color: #EEF1F2 !important; }

.card-link {
  color: #A82315 !important;
  font-weight: 700; }
