$full-length: 100%;


@mixin paddingX($paddingX: 15px 0 15px 0) {
	padding: $paddingX;
}


.bodyContainer{
	@include paddingX;
	width: $full-length;
}


.container-fluid {
 	@include paddingX(0);
}

.row{
	margin:0 !important;
}

.mainContainer{
	height: $full-length;
}

.headerContainer{
	@include paddingX;
	width: $full-length;
	height: 10%;
}

.blogHeader{
	@include paddingX(15px 0 0 0);
}