$font: 'Open Sans', sans-serif;
$background-dark: #EEF1F2;
$background-light: #FFF;
$text-dark: #000;
$hover-text: #A82315;
$hover-background: #EEF1F2;

.mainContainer{
	font-family: $font;
}

.headerContainer{
	background-color: $background-light;

}

.bodyContainer{
	background-color: $background-dark;
}

.nav-link{
	text-transform: uppercase;
}

.nav-link:hover{
	background-color: $hover-background;
}

.card-link{
	color: $hover-text;
	font-weight: 700;
}
