.banner-container{
	width: 100%;
	padding: 120px;
	background-color: #EEF1F2;
}

.banner{
	float: left;
	width: 50%;
}

.banner-header{
	font-family: "Poppins", sans-serif;
	font-size: 70px;
	display: block;
	line-height: 84px;
	margin: 0;
	font-weight: 700;
}

.banner-sub-header{
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	display: block;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
}


.banner-info{
	color: #6c757d;
}

.banner-image{
	width: 45%;
	float: left;
}