@import url("navigation.css");
@import url("contact.css");
@import url("banner.css");
@import url("footer.css");

body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

.mainContainer{
	min-width: 600px;
	margin: auto;
	overflow: hidden;
	background: #fff;
}