.nav-container{
	height: 10%;
	font-size: 1.14rem;
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	z-index: 99;
}

.nav-bar{
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0 15px 0;
	width: 100%;
}

.brand-logo-link{
	flex-basis: 30%;
}

.nav-menu-container{
	flex-basis: 70%;
	background-color: #fff;
}


.nav-menu li a{
	color: black;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-menu a:hover{
	color: #A82315;
	background-color: #EEF1F2;
}

@media screen and (min-width: 769px){
	.nav-menu{
		list-style: none;
		display: flex;
		justify-content: flex-end;
		margin-right: 25px;
	}
	.nav-menu li{
		display: inline;
		padding-right: 5px;
	}
}

@media screen and (max-width: 768px){
	.brand-logo-link{
		flex-basis: 100%;
	}
	.nav-bar{
		flex-direction: column;
	}
	.nav-menu{
		list-style: none;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.nav-menu li{
		padding: 5px;
	}
}
